//colors
$colorLightBlack: #181f1c;
$colorBlackOpacity: rgba(0,0,0,0.2);
$colorDarkGray: #999999;
$colorLightGray: #f9f9f9;
$colorLightGrayBorder: #f1f1f1;
$colorLightGrayText: #bebab5;
$colorBarPositive: #ffc6d5;
$colorBarNegative: #F0FFFF;
$colorWhiteBacground: #FFFFFF;
$colorModalContent: #fefefe;
$colorCloseButton: #aaaaaa;

//fonts
$fontFamilySansSerif: 'Helvetica Neue', Helvetica, Arial, sans-serif;
